DATABASE_URL=''

#SERVER COFIGURATION
PORT = 4000
HOST = 'localhost'

#AUTH SECRET KEY
# REFRESH_TOKEN_KEY=''
# ACCESS_TOKEN_KEY=''

# ACCESS_TOKEN_AGE='1296000'
# REFRESH_TOKEN_AGE='2592000'

BASE_URL='http://localhost:4000'

# SUPABASE_URL=''
# SUPABASE_ANON_KEY=''